@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Poppins:ital@0;1&family=Staatliches&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Abril Fatface';
}

.header {
  height: 2em;
  background-color: #ffd4e5;
  font-size: 1.5em;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */

  justify-content: space-between;
  padding: 0.2rem calc((100vw - 1000px) / 2);
  z-index: 12;
}

h1, h3 {
  display: flex;
  justify-content: center;
}

.topnav {
  display: flex;
  font-size: large;
  align-items: center;
  /* margin-right: -100px; */
  justify-content: space-between;

  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.topnav a.right {
  display: flex;
  font-size: large;
  /* align-items: center; */
  justify-content: space-between; 
  margin-left: auto;
  padding: 10px 22px;
}

.topnav a.split {
  display: flex;
  /* align-items: center; */
  margin-right: 450px;
}

p {
  margin-top: .5em;
}

a, h3 {
  text-decoration: none;
  color: #9c84c2;
}

.create-link {
  height: 30px;
  margin-left: auto;
}

.create-link-container {
  margin-left: auto
}

.banner {
  height: 24em;
  background-image:  url('../img/discoballs-dragevent.jpeg');  
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
  justify-content: center;
    
}

.about {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 5em;
  font-size: x-large;
}

.promo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: large;
}

section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.dragEvent {
  color:rgb(0, 0, 0);
  display: inline-flex;
  font-size: medium;
  flex-direction: column;
  justify-content: space-around;
  height:17%;
  width: 28%;
  border: 5px solid rgb(246, 177, 209);
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.create-page {
  height: 21em;
  display: flex;
  justify-content: center;
}

.dragEvent-show {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.show-form {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.dragEvent-image {
  display: flex;
  /* margin-left:33%; */
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.dragEvent-image-show {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.show-info {
  /* margin-left: 38% */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.textBox {
  width: 300px;
  height: 150px;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 5px 5px 5px 80px;
}

.row {
  background-color: rgb(246, 177, 209);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

